HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Eclipse ###
.metadata
.classpath
.project
.settings/
.loadpath
.recommenders
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.factorypath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

### STS (Spring Tool Suite) ###
.apt_generated
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# 민감한 정보 (DB 비밀번호 등)
application-local.properties
application-local.yml